# **INTRO PANDAS EJERCICIOS**

### **Ejercicio 1**

Crear una serie de Pandas con 10 elementos inicialmente con el valor 0 y modifica el primer, segundo, cuarto y séptimo elemento con los valores 1, 2, 4 y 7 respectivamente.

### **Ejercicio 2**

Crear un dataframe con los siguientes valores:

Id Nombre Edad Nacionalidad

22 Juan   32   España

 1 John   45   EEUU

13 Franz  38   Alemania

44 Vito   65   Italia

### **Ejercicio 3**

Copia en una variable de Pandas el fichero dataset.csv y obten el número de filas y columnas

### **Ejercicio 4**

Obtener el mínimo, el máximo y el valor medio de los Puntos del dataframe y obtener el porcentaje total de registros de Madrid en el dataset.

### **Ejercicio 5**

Obtener los 7 primeros registros del dataset apareciendo únicamente las columnas *Id*, *Nombre* y *Apellido*

### **Ejercicio 6**

Obtener los 5 últimos registros del dataset apareciendo únicamente las columnas *Id*, *Nombre* y *Puntos*

Para seleccionar columnas completas de un dataframe podemos utilizar la notación con corchetes y el nombre del campo o de los campos

### **Ejercicio 7**

Selecciona todos los registros del dataframe que tengan un *Id* menor que 8 y *Puntos* 7 o menos.

### **Ejercicio 8**

Selecciona todos los registros del dataframe que tengan un *Fecha* mayor a 1989-12-31 o que sean de *Ciudad* Barcelona.

### **Ejercicio 9**

Ordena los 6 primeros registros del dataframe por *Apellidos* y ordena en segundo lugar por *Nombre*.

### **Ejercicio 10**

Agrupa por *Ciudad* el número máximo de *Puntos* asociados esa ciudad.

Agrupa por *Pais* el número medio de *Puntos* asociados ese pais.